:root {
  --height-toolbar: 33px;
}

.UrlBar.toolbar.toolbar-mainbar.toolbar-large {
  position: absolute;
  width: 100%;
  top: 0;
}

#main {
  position: static;
}

#tabs-tabbar-container {
  margin-top: var(--height-toolbar);
}

.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-large {
  margin-left: 67px;
}

.mac #tabs-container:not(.none).top {
  margin-left: 0;
}

#tabs-tabbar-container.top {
  padding-top: 0;
}