@import '../mac/custom';

// Move browser controls to left like on macOS
#browser.win.win10 .window-buttongroup {
  display: flex;
  left: 0;
  right: auto;

  .window-minimize {
    order: 2;
  }

  .window-maximize {
    order: 2;
  }

  .window-close {
    order: 1;
  }
}

#header button.vivaldi {
  left: 177px;
}

#browser.win.win10 .window-buttongroup button {
  position: relative;
  width: 25px;
}

.UrlBar .UrlBar-AddressField {
  margin-left: 30px;
}

#browser.win.win10.tabs-top #header #titlebar .window-buttongroup button:not(.vivaldi) {
  height: 32px;
}

.win10 .vivaldi {
  height: 31px;
}
