// CSS Variables
:root,
#browser,
#browser header,
#browser .bookmark-bar,
#browser .manager-editor,
#browser .vivaldi-settings,
#browser .toolbar,
#browser #header,
#browser #switch,
#browser #tabs-tabbar-container {
  // Heiht of the main toolbar that contains address bar and buttons
  --height-main-toolbar: 33px;

  // Override useless focus border variables
  --colorBorder: transparent;
  --colorBgIntenser: transparent;
}

// Nest to force specific styles without having to use !important
html #app {
  // Move main toolbar to top above tabs
  .UrlBar.toolbar.toolbar-mainbar.toolbar-large {
    position: absolute;
    top: 0;
    width: 100%;
  }

  // Make possible to move url bar outside main
  #main {
    position: static;
  }

  // Move tab bar below address bar
  #tabs-tabbar-container {

    // Needing automatic height to "hide" tab bar if one tab only
    // Needs important override because the tab element.style has inline height: 30px;
    height: 100% !important;
    margin-top: var(--height-main-toolbar);

    // Making sure omnibox can be top of the tab bar
    position: relative;
    z-index: 0;
  }

  // Move main toolbar content after macOS control buttons
  .toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-large {
    margin-left: 75px;
  }

  // Ensure there's no extra space where tabs start
  #tabs-container,
  .mac #tabs-container:not(.none).top {
    padding-left: 0;
  }

  // Ensure there's no extra space above tabs
  #tabs-tabbar-container.top {
    padding-top: 0;
  }

  // Hide new tab button (I'm used to keyboard shortcuts)
  .toolbar .button-toolbar.newtab {
    display: none;
  }

  // Hide profile button (I don't need it)
  .button-toolbar.profile-popup {
    display: none;
  }

  // Hide 1Password button
  .button-toolbar.aeblfdkhhhdcdjpifhhbdiojplfjncoa.ExtensionIcon.extensionId {
    display: none;
  }

  // Hide search input (we can use the url bar)
  .UrlBar-SearchField.iconmenu-container.SearchField {
    display: none;
  }

  // Hide sync and trash buttons (why would we need to clean up tabs)
  .toolbar.sync-and-trash-container {
    display: none;
  }

  // Hide favicons
  .tab-strip .tab-header .favicon {
    display: none;
  }

  // Hide tab bar if there's only one tab (like on Safari)
  .tab-strip > span:only-of-type {
    display: none !important;
  }

  // Remove speed dial related things
  .startpage .SpeedDialView-SearchField,
  .startpage .dials-wrapper {
    display: none !important;
  }

  // Equal width for tabs like in Safari
  .tab-strip {
    display: flex;

    .tab-position {
      height: auto;
      position: relative;
      transform: none;
      width: auto;
    }

    // This is the element that defines actual tab width
    > span {
      display: flex;
      flex: 1;
      justify-content: flex-start;

      // If there's more than one tabs, use max-width 50vw
      max-width: 50vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      // If there's 3 or more tabs, use less max-width
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7) &:nth-child(8) &:nth-child(9) &:nth-child(10) {
        max-width: 33vw;
      }

      > div {
        flex: 1;
        width: 100%;
      }
    }
  }
}
